<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ecocheck.ecocheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- activity for main page the log in page -->
        <activity
            android:name=".LogIn"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- activity EcoCheck SignUp -->
        <activity
            android:name=".SignUp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.ecocheck.ecocheck.SignUp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- activity EcoCheck main Page -->
        <activity
            android:name=".EcoCheckActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.ecocheck.ecocheck.EcoCheckActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- activity for add new factory -->
        <activity android:name=".AddNewFactory">
            <intent-filter>
                <action android:name="org.ecocheck.ecocheck.AddNewFactory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- activity for find new factory -->
        <activity android:name=".FindFactory">
            <intent-filter>
                <action android:name="org.ecocheck.ecocheck.FindFactory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- activity for vViewAllFactory -->
        <activity android:name=".ViewAllFactory">
            <intent-filter>
                <action android:name="org.ecocheck.ecocheck.ViewAllFactory" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
